.vscode/
**/.DS_Store
node_modules/
Codebase/Machine learning/api/api/bin/activate.fish
Codebase/Machine learning/api/api/bin/Activate.ps1
Codebase/Machine learning/api/api/bin/pip
Codebase/Machine learning/api/api/bin/pip3
Codebase/Machine learning/api/api/bin/pip3.12
Codebase/Machine learning/api/api/bin/python
Codebase/Machine learning/api/api/bin/python3
Codebase/Machine learning/api/api/bin/python3.12
Codebase/Machine learning/api/api/pyvenv.cfg
Codebase/Machine learning/api/api/bin/wheel
Codebase/Machine learning/api/mlapi/bin/activate
Codebase/Machine learning/api/mlapi/bin/python
Codebase/Machine learning/api/mlapi/bin/python3
Codebase/Machine learning/api/mlapi/bin/pip3
Codebase/Machine learning/api/mlapi/bin/pip
Codebase/Machine learning/api/mlapi/bin/Activate.ps1
Codebase/Machine learning/api/mlapi/bin/activate.csh
Codebase/Machine learning/api/mlapi/bin/activate.fish
Codebase/Machine learning/api/mlapi/bin/pip3.12
Codebase/Machine learning/api/mlapi/bin/python3.12
Codebase/Machine learning/api/mlapi/pyvenv.cfg
Codebase/Machine learning/api/mlapi/bin/f2py
Codebase/Machine learning/api/mlapi/bin/flask
